@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--fundo-body);
    color: var(--texto-principal);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --fundo-body: #272626;
    --texto-principal: #ffffff;
    --cor-icon: #000000;
    --fundo-clima: #2c2c55; 
}

div#center {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

main {
    background-color: var(--fundo-clima);
    border-radius: 10px;
    padding: 20px;
}

#weather.show {
    display: block;
}

div#weather {
    display: none;
}


main article#header {
    display: flex;
    flex-direction: column;
}

#header > form#buscador {
    position: relative;
}

form#buscador #icon-location {
    color: black;
    position: absolute;

    top: 50%;
    transform: translateY(-50%);
}

button[type="submit"] {
    background-color: transparent; 
    border: none;   
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
}

button[type="submit"] #icon-search {
    font-size: 15px;
}

#buscador input[type="search"] {
    outline: none;
    border: 1px solid lightgrey;
    padding: 5px;
    border-radius: 10px;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 30px;
    width: 100%;
}

article#principal #local-horario {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 7px;
    
}

#local-horario #local {
    font-size: 1.4em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#local-horario #horario {
    font-weight: bold;
    font-size: 2em;
} 

div#clima {
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-flow: row nowrap;
    background-color: var(--fundo-body);
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

div#clima #temp_imagem {
    width: 90px;
    
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2)); /*FAZ SOMBRA DE FATO NA IMAGEM*/
}

div#clima > .graus-condi {
    display: flex;
    flex-direction: column;
    
}

.graus-condi > #graus {
    font-size: 2.2em;
    font-weight: 600;
}

.graus-condi > #condicao {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize; /*INDEPENDENTE DA SITUAÇÃO, SEMPRE DEIXA A PRIMEIRA LETRA EM MAIUSCULA.*/
}

article#footer {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 10px;
}

article#footer .estatisticas {
    border-radius: 5px;
    padding: 5px;
    background-color: #333372;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.estatisticas .estatistica-coluna {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.estatisticas #icons-estat-max {
    font-size: 18px;
    color: rgb(241, 88, 41);
}

.estatisticas #icons-estat-min {
    font-size: 18px;
    color: rgb(0, 162, 255);
}

.estatisticas #icons-estat-humi {
    font-size: 18px;
    color: rgb(0, 195, 255);
}

.estatisticas #icons-estat-vento {
    font-size: 18px;
    color: rgb(191, 96, 235);
}

.estatisticas .esta1 {
    font-size: 0.7em;
}

.estatisticas .esta2 {
    font-size: 0.95em;
}

#alert {
    text-align: center;
}
