@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--fundo-body);
    color: var(--texto-principal);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --fundo-body: #272626;
    --texto-principal: #ffffff;
    --cor-icon: #000000;
    --fundo-clima: #2c2c55; 
}

div#center {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

main {
    background-color: var(--fundo-clima);
    border-radius: 10px;
    padding: 20px;
}

main article#header {
    display: flex;
    flex-direction: column;
}

#header > #buscador {
    position: relative;
}

#buscador #icon-location {
    color: black;
    position: absolute;

    top: 50%;
    transform: translateY(-50%);
}

#buscador #icon-x {
    color: black;
    cursor: pointer;
    position: absolute;

    top: 50%;
    transform: translateY(-50%);
    right: 25px;
}

#buscador #icon-search {
    color: black;
    cursor: pointer;
    position: absolute;
    
    top: 50%;
    transform: translateY(-50%);
    right: 3px;
}

#buscador input[type="search"] {
    outline: none;
    border: 1px solid lightgrey;
    padding: 5px;
    border-radius: 10px;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 30px;
    
}

article#principal #local-horario {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 7px;
}

#local-horario #local {
    font-size: 1.4em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#local-horario #horario {
    font-weight: bold;
    font-size: 2em;
} 

div#clima {
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-flow: row nowrap;
    background-color: var(--fundo-body);
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

div#clima #imagem {
    width: 50px;
}

div#clima > .graus-condi {
    display: flex;
    flex-direction: column;
    
}

.graus-condi > #graus {
    font-size: 2.2em;
    font-weight: 600;
}

.graus-condi > #condicao {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

article#footer {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 10px;
}

article#footer .estatisticas {
    border-radius: 5px;
    padding: 5px;
    background-color: #333372;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.estatisticas .estatistica-coluna {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.estatisticas #icons-estat {
    font-size: 18px;
}

.estatisticas .esta1 {
    font-size: 0.7em;
}

.estatisticas .esta2 {
    font-size: 0.95em;
}
